$darkGrey : #0B1315;
$coffee : #906427;

.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        .link{
            text-decoration: none;
            color: inherit;
        }
        //LOGIN & REGISTER
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #b6ac97;
        }

        h1{
            font-size: 20px;
            color: black;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 50px;
            gap: 20px;
            background-color: white;
            width: 200px;
        }

        input{
            padding: 10px;
            border: none;
            border-bottom: 1px solid #b6ac97;
        }

        button{
            padding: 10px;
            border: none;
            background-color: #b6ac97;
            cursor: pointer;
            color: white;
        }

        p{
            font-size: 12px;
            color: black;
            text-align: center;
        }

        span{
            font-size: 12px;
            text-align: center;
        }


    }

    .navbar{
        .container{
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                img{
                    width: 250px;
                }
            }

            .links{
                display: flex;
                align-items: center;
                gap: 10px;

                h6{
                    font-size: 16px;
                    font-weight: 300;
                }

                span{
                    cursor: pointer;
                }

                .write{
                    color: white;
                    background-color: $coffee;
                    width: 65px;
                    height: 35px;
                    border-radius: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;

                    &:hover{
                        width: 63px;
                        height: 33px;
                        color: $coffee;
                        background-color: #fff;
                        border: 1px solid #b6ac97;
                    }
                    
                }                
            }
        }
    }

    footer{
        margin-top: 100px;
        padding: 20px;
        background-color: #b6ac97;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            height: 40px;
            font-size: 12px;
        }
    }

    //HOME

    .home{

        .posts{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 100px;

            .post{
                display: flex;

                .img{
                    flex: 2;

                    img{
                        position: relative;
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }
                }

                .content{
                    flex: 3;
                    position: relative;
                    right: 350px;
                    top: 250px;
                }
            }
        }
    }

}